body{
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.heading{
    width: 800px;

    font-size: 50px;
}
.name_of_objects{
    color: firebrick;
color: wheat;
font-family: cursive;
    font-size: 20px;
}
.view{
    color: white;
}
#camera{
    height: 400px;
    width: 400px;
    border: dotted;
}
.Acuracy{
    color: white;
}
.name_result{
    color: white;
}
#result_object_name{
    color: white;
}
#result_object_accuracy{
    color: white;
}